body {
  background-color: pink;
  margin: 0;
  padding: 0;
}

section, header, footer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
	font-size: 30px;
}

h2 {
	color: rgb(32, 201, 32);
	font-family: cursive;
}

.special {
	font-weight: bold;
	color: red;
}

#me {
	  color: blue;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  margin-right: 20px;
}

.bg-2 {
  background-color: rgba(255, 255, 255, 0.2);
}

footer {
  display: flex;
  background-color: rgba(255, 255, 255, 0.4);
}

